*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Jost', sans-serif;
    list-style:none;
    text-decoration:none;
    scroll-behavior: auto; 
  }
  



.forsvg{
  position:absolute;
  top:0%;
  bottom: 0px;
  width:45%;
  height:50%;
  background-color: none;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-left:5%;
}
#forsvg1{top:5%;left: 15%;}
#forsvg2{top:5%;left: 50%;}
#forsvg3{top:48%;left: 15%;}
#forsvg4{top:48%;left: 50%;}

#svg1 { position:absolute; top:10%; left:0%; height:100%; width:100% }
#svg2 { position:absolute; top:10%; left:0%; height:100%; width:100% }
#svg3 { position:absolute; top:0%; left:0%; height:100%; width:100%}
#svg4 { position:absolute; top:0%; left:0%; height:100%; width:100%}
#colorbar{position:absolute;top:92%;left:38%;width:60%}
#title{
    top:3%;
    left:28%;
    position:absolute;
    height:10%; width:60%
  
}
#tiltext{font-size:1.5rem;padding:auto;  text-align: center;}

#download{
    position:absolute;
    display: inline-block;
    top:80%;
    bottom: 0px;
    width:15%;
    height:5%;
    background-color: rgb(205, 211, 249);;
    border-radius: 15px;
    border: 1px solid rgb(170, 180, 240);
    margin-left:1%; 
    line-height: 2.5;
    padding:auto;
    vertical-align: middle;
    text-align: center;
}

#download:hover {
    background-color: rgb(171, 157, 227);
    border-color: rgb(221, 198, 198);
    padding:auto;

    }
#sidebar {
 position:absolute;
  margin-top: 5%;
  margin-left:1%;
  height: 60%;
  width: 15%;
  border: 1px solid #f1f4f1; 
  border-radius: 25px;
  z-index:-1;

}

.vardiv {
    width:86%;
    height:8%;
    margin-top:1%;
    margin-left:6.5%;
    padding:auto;
    text-align: center;
    cursor:pointer;
    border-radius: 10px;
    border: 1px solid #5ba545;
    font-size: 1rem;
}

#vardiv1{margin-top:15%;} 


.vardiv p {
    line-height: 2;
    display: inline-block;
    padding:auto;
    vertical-align: middle;
  }
.vardiv:hover {
    background-color: rgb(215, 203, 203);
    border-color: rgb(221, 198, 198);
    padding:auto;

    }



.state-borders {
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}



